<!DOCTYPE html>
<html>
<head>
    <title>Hearts Food Website</title>
    <meta charset = "utf-8">
    <link href = "{{ url_for('static', filename='main.css') }}" rel = "stylesheet" type = "text/css">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename='media/icon.ico') }}">
    <script src = "{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Checkout</h1>

    <nav>
        <ul>
            <li><a href="/food">Food</a></li>
            <li><a href="/drink">Drinks</a></li>
            <li><a href="/basket">Checkout</a></li>
        </ul>
    </nav>

    {% from "_formhelpers.html" import render_field %}
    <div id="menu">
        <h3>Basket</h3>
        
        <ul>
        {% for i in basketLength %}
            <li>{{basket[0][i].name}}: {{basket[1][i]}} £{{basket[0][i].price}}</li>
        {% endfor %}
        </ul>

        <form method="post">
            <p>Any special requests?</p>
            {{ render_field(form.comment) }}<br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>