<!DOCTYPE html>
<html>
<head>
    <title>Hearts Food Website</title>
    <meta charset = "utf-8">
    <link href = "{{ url_for('static', filename='main.css') }}" rel = "stylesheet" type = "text/css">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename='media/icon.ico') }}">
    <script src = "{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Select Food</h1>

    <nav>
        <ul>
            <li><a href="/food">Food</a></li>
            <li><a href="/drink">Drinks</a></li>
            <li><a href="/basket">Checkout</a></li>
        </ul>
    </nav>

    <div id="menu">
        <form>
            <button type="button" onclick="showFood('foodHot')">Hot</button> <br>
            <div id="foodHot">
                {% for id, name in foodHot.items() %}
                    <p class="option">{{name}}</p> <input type="number" min="0" max="10" id={{id}} class="foodCount">
                {% endfor %}
            </div> <br>

            <button type="button" onclick="showFood('foodCold')">Cold</button> <br>
            <div id="foodCold">
                {% for id, name in foodCold.items() %}
                    <p class="option">{{name}}</p> <input type="number" min="0" max="10" id={{id}} class="foodCount">
                {% endfor %}
            </div> <br>
            
            <input type="submit" value="Add to basket" onclick="addFood()">
        </form>
    </div>
</body>
</html>