<!DOCTYPE html>
<html>
<head>
    <title>Hearts Food Website</title>
    <meta charset = "utf-8">
    <link href = "{{ url_for('static', filename='style/main.css') }}" rel = "stylesheet" type = "text/css">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename='media/icon.ico') }}">
    <script src = "{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>
<body>
    <h1>Hungry Midlothian</h1>

    <h3>Food for the Hearts</h3>

    <button type="button" onclick="document.location='/food'">Food</button>

    <button type="button" onclick="document.location='/drinks'">Drinks</button>

    <button type="button" onclick="document.location='/payment'">Checkout</button>

    <button type="button" onclick="document.location='/staff'">Staff Only</button>
</body>
</html>
