<!DOCTYPE html>
<html>
<head>
    <title>Hearts Food Website</title>
    <meta charset = "utf-8">
    <link href = "{{ url_for('static', filename='style/main.css') }}" rel = "stylesheet" type = "text/css">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename='media/icon.ico') }}">
    <script src = "{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>
<body>
    <h1>Hearts Food</h1>
    
    <p>This is a website to order food for a Hearts game.</p>
    
    <button type="button" onclick="document.location='/ticket'">Start</button>
</body>
</html>
