<!DOCTYPE html>
<html>
<head>
    <title>Hearts Food Website</title>
    <meta charset = "utf-8">
    <link href = "{{ url_for('static', filename='main.css') }}" rel = "stylesheet" type = "text/css">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename='media/icon.ico') }}">
    <script src = "{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <a href="">Back to home</a><br>

    {% if orderView %}
        <h3>Order {{orderNum}}</h3>
        <ul>
        {% for item in orderItems %}
            <li>{{item}}</li>
        {% endfor %}
        </ul><br>

        <a href="/staff">Return to item view</a>

    {% else %}
        {% from "_formhelpers.html" import render_field %}

        <h3>All items</h3>
        <ul>
        {% for name, number in orderItems.items() %}
            <li>{{name}}: {{number}}</li>
        {% endfor %}
        </ul><br>

        <form method="post">
            {{ render_field(form.orderNum) }}
            <input type="submit" value="Go to order">
        </form>
    {% endif %}
</body>
</html>
